<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" >
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="icon" href="/bootstrap-5.2.0-dist/img/AF.png" type="image/png">
    <title>Форум</title>
</head>
<body>
  <div class="wrapper">
    <%- include ('./components/header.ejs')%>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="card" >
              <div class="card-header">
                <h2>Список тем</h2>
              </div>
              <div class="card-body">
                <ul class="list-group">
                <% SQLdata.forEach(({id, title}) => { %> 
                  <li class="list-group-item"><a href="thread?id=<%= id %>"> <%= title %> </a></li>  
                <% }) %>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h2>Создать новую тему</h2>
              </div>
              <div class="card-body d-grid gap-3">
                <form class="d-grid gap-3">
                  <div class="form-group d-grid gap-3">
                    <label for="thread-input">Название темы:</label>
                    <input autocomplete="off" type="text" class="form-control" id="thread-input">
                  </div>
                  <button class="btn btn-primary" id="create-thread-button">Создать</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- include ('./components/footer.ejs')%>
  </div>
<script src="/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
<script src="../scripts/app.js"></script>
</body>
</html>
