<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" >
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="icon" href="/bootstrap-5.2.0-dist/img/AF.png" type="image/png">
    <title><%= SQLdata.thread[0].title %></title>
</head>
<body>
  <div class="wrapper">
    <%- include ('./components/header.ejs')%>
    <div class="main d-grid gap-4">
      <div class="header-title">
        <h2> <%= SQLdata.thread[0].title %> </h2>
      </div>
      

      <div class="col-md-7 mx-auto d-grid gap-3 " id="messages">
        <%- include ('./components/messages.ejs')%>
      </div>
      <% if(username != undefined){ %>
      <div class="col-md-7 mx-auto d-grid gap-3 align-items-end">
          <form action="" class="card ">
            <div >
              <div class="card-header">
                <h6>Поле для ввода сообщений </h6>
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <textarea class="form-control" id="sendMessageText"></textarea> 
                </div>
                <button class="btn btn-primary" id="sendMessageButton">Отправить</button>
              </div>
            </div>
            </form>
      </div>
       <% } %> 
    </div>
  </div>
<script src="/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="../scripts/thread.js"></script>

</body>
</html>