<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/main.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" href="http://localhost/globe.png" type="image/png">
    <title><%= SQLdata.thread[0].title %></title>
</head>
<body>
  <div class="wrapper">
    <div class="spinner" style="display: none;"></div>
    <%- include ('./components/header.ejs')%>
    <div class="main d-grid gap-4">
      <div class="header-title">
        <h2> <%= SQLdata.thread[0].title %> </h2>
      </div>
      <div class="col-md-7 mx-auto d-grid gap-3 ">
        <div class="card" style="background-color: rgb(222, 222, 222); border: 0px;">
        <ul class="list-group" id="messages" style="display: block;">
          <%- include ('./components/messages.ejs')%>
        </ul>
      </div>
     </div>
      <% if(username != undefined){ %>
      <div class="col-md-7 mx-auto d-grid gap-3 align-items-end">
            <div >
              <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <textarea class="form-control" id="sendMessageText" style="margin-bottom: 20px" placeholder="Поле для ввода сообщений"></textarea> 
                  <input type="file" class="form-control-file form-control" id="fileInput">
                </div>
                <div>
                  <button class="btn btn-primary" id="sendMessageButton" style="margin-right: 20px">Отправить</button>

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="previewButton">
                    Препросмотр
                  </button>

                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body" id="preview">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </div>
      <% } %> 
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="module" src="http://localhost/thread.js"></script>
<script type="module" src="http://localhost/singin.js"></script>
<script type="module" src="http://localhost/login.js"></script>
<script type="module" src="http://localhost/user.js"></script> 
</body>
</html>