<% SQLdata.messages.forEach(({id, name, content, date, title, image}) => { %>
<div class="card" class="message">
    <div class="card-header" style="display: flex; justify-content: space-between;">
        <h6> <%= name %> </h6>
        <% const formattedDate = new Date(date).toLocaleString('ru-RU', { year: 'numeric', month: '2-digit', 
        day: '2-digit', hour: '2-digit', minute: '2-digit'}); %>
        <p > <%= formattedDate %> </p>
    </div>
    <div class="card-body" id="msgContainer">
        <p name="msgTxt"> <%= content %> </p>
        <% if (image !== null && image !=='null' ){ %>
            <div class="containerImg">
                <img src="http://localhost/<%= image %>" alt="Ошибка загрузки" >
            </div>
        <% } %>
    </div>
</div>
<% }) %>
