<% SQLdata.themeList.forEach(({id, theme_name}) => { %>
    <div class="card">
        <div class="card-header">
            <a class="nav-link active" href="theme?id=<%=id %>&sort=id"><%= theme_name %></a>
        </div>
    </div>
<% }) %>